/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
.navbar {
  background-color: #272822;
  color: #c9f2f7;
}

.navbar-default .navbar-nav > li > a {
  color: #a1e22e;
  text-transform: uppercase;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f2265e;
}

.navbar-default .navbar-brand {
  font-family: "Monaco", "Courier New", serif;
  color: #64d9ef;
  padding-right: 5px;
  font-weight: bold;
}

.navbar-default .navbar-brand > a:hover, a:focus {
  color: #f17622;
}

.navbar-default .blinker {
  color: #71715e;
}

.navbar-default .caret-decoration {
  color: #f17622;
}
.navbar-default .caret-decoration .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f17622;
}